* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Navigation bar */

nav {
    width: 100%;
    height: 119.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f4f0;
}

.nav-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Chloe logo */

.logo {
    padding: 17px 62px 40px 48px;
}

.logo h1 {
    font-family: FreightDispProLight-Italic;
    font-style: italic;
    font-weight: 300;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -1px;
    color: #3c271d;
}

/* Nav text */
.nav-1,
.nav-2 {
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #3c271d;
}

.nav-ul li {
    display: inline-block;
}

.nav-1 {
    display: flex;
    padding: 23px 0 23px 90px;
}

.nav-2 {
    display: flex;
    padding: 23px 90px 23px 0;
}

/* FIRST SECTION */

.exquisite {
    background: #f8f4f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 680px;
}

.exquisite-start {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.exquisite-start .image-1 {
    position: absolute;
    z-index: 10;
}

.exquisite-start .image-2 {
    position: absolute;
    left: 71.19px;
    top: 450px;
    z-index: 5;
}

.exquisite-start .image-3 {
    position: absolute;
    left: 42.03px;
    z-index: 1;
}

.exquisite-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 290px;
}

.exquisite-middle h1 {
    font-family: FreightDispProLight-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #3c271d;
}

.exquisite-middle h3 {
    font-family: FreightBigProMedium-Regular;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #161614;
}

.exquisite-middle span {
    font-family: FreightDispProLight-Regular;
    font-style: italic;
    font-weight: normal;
    font-size: 70px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #3c271d;
}

.exquisite-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 550px;
    width: 300px;
}

.exquisite-end img.above {
    position: absolute;
    top: 140px;
    right: 31px;
    z-index: 10;
}

.exquisite-end img.below {
    z-index: 5;
}

/* BRANDING SECTION */

/*the main div*/
.branding {
    background: #fffcf9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    width: 100%;
}

/* vertical text */
.vertical-text {
    width: fit-content;
}

#vertical-branding-text {
    font-family: FreightBigProMedium-Regular;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #3c271d;
    transform: rotate(-90deg);
}

.branding-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.branding-main-container img {
    width: 250px;
    height: 300px;
}

#branding-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#branding-images div {
    padding: 35px;
}

.branding-main-container h2 {
    font-family: FreightDispProLight-Italic;
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    color: #3c271d;
}

.branding-main-container h3 {
    font-family: FreightBigProMedium-Regular;
    font-style: normal;
    font-weight: 50;
    font-size: 9px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #161614;
}

/* button */

#branding-button {
    background: #fffcf9;
    border: none;
    border-bottom: 1px solid #161614;
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: 70;
    font-size: 9px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #161614;
    cursor: pointer;
}

/* SERVICES SECTION */

.services {
    background: #f3eee8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
}

#heading-serv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 238px;
}

#heading-serv h2 {
    font-family: FreightDispProLight-Italic;
    font-style: italic;
    font-weight: 30;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #3c271d;
}

.services-divs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 200px;
}

.services-divs h2 {
    font-family: FreightDispProLight-Italic;
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    color: #3c271d;
}

.services-divs p {
    font-family: FreightSansProBook-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #161614;
}

.services-divs button {
    border: none;
    border-bottom: 1px solid #161614;
    background: #f3eee8;
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #161614;
    cursor: pointer;
}

/* BLOG SECTION */

.blog {
    background: #fffcf9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.blog-first-bigger {
    padding: 30px;
}

#blog-heading {
    font-family: FreightBigProMedium-Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #1f1f1f;
}

.blog-second-bigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

.blog-smaller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 37px;
}

.blog-smaller h2 {
    font-family: FreightDispProLight-Regular;
    font-style: normal;
    font-weight: 50;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #3c271d;
}

.blog-smaller span {
    font-family: FreightDispProLight-Regular;
    font-style: italic;
    font-weight: 50;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    color: #3c271d;
}

.blog-smaller p {
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #3c271d;
}

/* divs with the images with background */
.blog-bg {
    background: #f8f4f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 341px;
    height: 350px;
}

.blog-bg img {
    width: 241px;
    height: 250px;
}

/* HERO SECTION */

.hero {
    background: #f3eee8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 645px;
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 495px;
    height: 490px;
}

.hero-img .hero-below {
    position: absolute;
    z-index: 1;
}

.hero-img .hero-above {
    position: relative;
    left: 355px;
    bottom: 4px;
    z-index: 2;
}

.hero-another {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.hero-another h2 {
    font-family: FreightDispProLight-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #3c271d;
}

.hero-another span {
    font-family: FreightDispProLight-Regular;
    font-style: italic;
    font-weight: 300;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    color: #3c271d;
}

.hero-another p {
    font-family: FreightSansProBook-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #161614;
}

.hero-another button {
    background: #dccfc0;
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #161614;
    padding: 13.5px 36.5px;
    border: none;
}

/* SUBSCRIBE SECTION */

.subscribe {
    background: #f8f4f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.subscribe h3 {
    font-family: FreightBigProMedium-Regular;
    font-size: 14px;
    letter-spacing: 0.3em;
    text-transform: uppercase;

    color: #3c271d;
}

.subscribe #italic-text {
    font-family: FreightDispProLight-Italic;
    font-weight: 300;
    font-style: italic;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -4%;
    text-align: center;
    color: #3c271d;
}

.subscribe h2 {
    color: #3c271d;
    font-family: FreightDispProLight-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 50px;

    letter-spacing: -0.03em;
    text-transform: capitalize;
}

.subscribe input {
    background: #fffcf9;
    padding: 20px 190px;
    border: none;
}

.subscribe input::placeholder {
    font-family: FreightSansProBook-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #161614;
}

.subscribe #subscribe-btn {
    border: none;
    border-bottom: 1px solid #161614;
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #161614;
    padding: 10px;
    background: #f8f4f0;
    cursor: pointer;
}

/* CONNECT SECTION BOTTOM */

.connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #eae3db;
    height: 600px;
    padding-left: 70px;
}

.connect-start {
    font-family: FreightBigProMedium-Regular;
    font-size: 8px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #3c271d;
    transform: rotate(-90deg);
}

.connect-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect-middle button {
    background: #dccfc0;
    border: none;
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #161614;
    padding: 12px 24px;
    width: 200px;
    cursor: pointer;
}

.connect-middle h2 {
    font-family: FreightDispProLight-Regular;
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #3c271d;
}

/* FOOTER */

/* First section of the footer */

.footer-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fffcf9;
}

/* text */
.footer-1 {
    font-family: FreightBigProMedium-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.3em;
    text-transform: uppercase;

    color: #161614;

    padding: 80px;
}

/* images div*/
.images {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 90px 80px 90px;
}

.images img {
    width: 180px;
    height: 180px;
}

/* */

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #f8f4f0;
    padding: 90px;
}

.info-1 {
    padding: 20px 90px;
    display: flex;
    flex-direction: column;
}

.info-1-text {
    padding: 48px 30px 30px 30px;
}

.info-1-text h3 {
    font-family: FreightDispProLight-Italic;
    font-style: italic;
    font-weight: normal;
    font-size: 27px;

    text-align: center;
    letter-spacing: -1px;

    color: #3c271d;
}

.info-1-text p {
    font-family: FreightSansProBook-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    text-align: center;

    color: #161614;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 30px 30px 30px;
}

.icons img {
    padding: 15px;
}

.info-2 {
    border-right: 1px solid #3c271d;
    border-left: 1px solid #3c271d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #161614;
    padding: 20px 160px;
}

.info-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #161614;
    padding: 20px 160px;
}

/* Last section of the footer */

.copyright {
    text-align: center;
    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #3c271d;
    background: #fffcf9;
    height: 94px;
    width: 100%;
    padding: 40.5px;
}
